.imageWrapper {
  @apply col-span-6 relative;
}

.contentWrapper {
  @apply col-span-6 xl:place-self-center mb-8 mt-8 xl:mt-0 lg:mb-0;
}
.contentFormacion{
  @apply col-span-6  mb-8 mt-8 xl:mt-0 lg:mb-0;
}
.featureBImageWrapper {
  @apply col-span-6 relative grid grid-cols-12  gap-4;
}

.title {
  @apply text-3xl xl:text-4xl font-bold text-center lg:text-left;
}

.content {
  @apply my-8 max-w-lg mx-auto lg:mx-0 text-center lg:text-left;
}

.statsWrapper {
  @apply flex flex-col lg:flex-row items-center mb-4 border-t py-8;
}

.stat {
  @apply text-2xl font-bold mr-4;
}

.statsContent {
  @apply text-sm mb-2 lg:mb-4;
}

.cardA {
  @apply z-10 bg-white p-4 rounded-lg shadow-sm xl:col-start-4 col-span-12 sm:col-span-6 row-span-4 relative;
}

.cardB {
  @apply z-10 bg-white p-4 rounded-lg shadow-sm xl:col-start-10 col-span-12 sm:col-span-6 row-span-3 row-start-3 relative;
}

.cardC {
  @apply hidden xl:block z-10 bg-white p-4 rounded-lg shadow-sm col-start-5 col-span-5 row-span-3 row-start-5 relative;
}

.heading {
  @apply text-4xl font-bold mb-4 text-[#4D9AD2];
}

.titulos{
  @apply text-center w-full  mx-auto text-4xl font-bold mb-4 text-[#4D9AD2];
}


.card{
  text-align: center;
  max-height: 380px;
  margin: 10px;
  
}
.cardImage{
  min-height: 200px;
  width: 100%;
  object-fit: cover;
}
.cardTitle{
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.cardText{
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  max-width: 280px;
  margin: 0 auto;
}

.cardImage img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  padding: 10px;
}

.imo{
  padding:2rem !important;; 
}