@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  --swiper-theme-color: #02e0fd !important;
}
@layer components {
  .ghostBTN {
    @apply mx-1 hover:underline p-4;
  }

  .primaryBTN {
    @apply focus:outline-[#4D9AD2] focus:outline-1 px-4 py-3 bg-[#4D9AD2] hover:bg-[#518eaa] hover:cursor-pointer text-white font-medium rounded w-full lg:w-max;
  }

  .secondaryBTN {
    @apply focus:outline-gray-800 focus:outline-1 px-4 py-3 border border-slate-200 hover:cursor-pointer font-medium rounded inline-flex items-center justify-center w-full lg:w-max;
  }

  .section {
    
    min-height: 80vh;
    height: 100%;
    @apply grid container mt-6 mx-auto  grid-cols-1 gap-2 md:gap-2 lg:grid-cols-12 relative overflow-hidden  ;
  }
  .sectionHero {
    
    
  
    @apply  sm:py-16  sm:flex  grid-cols-1 gap-2 md:gap-2 lg:grid-cols-12 relative overflow-hidden ;
  }
  .appBlurImage {
    @apply  xl:block absolute z-0  ;
  
  }
}

@layer base {
  a {
    @apply font-medium hover:text-slate-900;
  }

  html {
    @apply text-[#6D6D6D] font-sans;
  }

  * {
    @apply focus:outline-1 focus:outline-[#4D9AD2];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  {
    line-height: 1.3;
    @apply text-[#4D9AD2] font-bold;
  }
  .title {
    @apply text-[#4D9AD2] font-bold;
  }

  .logoName
  {
    @apply text-[#4D9AD2] font-bold;
    line-height: 1;
    font-size: 1.5rem;
    min-width: 300px;
  }

  .logoNamesub
  {
    @apply text-[#00BCD4] font-bold;
    line-height: 1;
  }

  body {
    @apply bg-[#ffffff] !important;
  }
}

.container-contador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.contador {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

}
.contador__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;

}
.contador__item__numero {
  font-size: 50px;
  font-weight: 700;
  color: #4D9AD2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contador__item__numero__num {
  font-size: 50px;
  font-weight: 700;
  color: #4D9AD2;
}
.contador_titulo {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6D6D6D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
font-size: 2.5rem;
}


.certificados::before {
  content: "";
  background-image: url("../public/dots.png");
  background-color: #fff;
  background-repeat:repeat;
  background-position: center;
  background-size: fill;
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  

}



.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentFormacion{
  width: 100%;
  border: 1px solid #4D9AD2;

}

.mySwiper{
  width: 100%;
  height: 100%;

}


.card{
  margin: 10px;
  border: 1px solid #4D9AD2;
}


.mySwiperHero{
  width: 95vw;
  padding: 1rem;
 @apply  hidden md:block ;
}

.contenido{
  @apply  pt-36;
}

.hospitales{
 max-width: 1120px;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  @apply  hidden md:block ;
}


.chip-title{
  padding: 20px 10px;
  font-size: 14px;
}

.basic-chip{
  padding: 5px 10px;
  border-radius: 50px;
  display: inline-flex;
  margin: 5px;
}

.click-chip, .click-chip-hover{
  padding: 5px 10px;
  border-radius: 50px;
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
}

.click-chip-hover:hover{
  filter: brightness(85%);
}

.outline{
  border: 1.5px solid #cccccc;
  color: #cccccc;
  outline: none;
}

.outline-green{
  border: 1.5px solid #3a913f;
  color: #3a913f;
  outline: none;
}

.outline-blue{
  border: 1.5px solid #0074c3;
  color: #0074c3;
  outline: none;
}

.background-grey{
  background: #dddddd;
  color: #616161;
}

.background-green{
  background: #3a913f;
  color: #ffffff;
}

.background-blue{
  background: #0074c3;
  color: #ffffff;
}

.icon{
  /*background: #bdbdbd;*/
  color: #616161;
  margin: 0px 5px 0px -5px;
  background: #bbbbbb;
  padding: 2px;
  border-radius: 50px;
}

.fa-times, .fa-times-circle{
  margin: 0px -5px 0px 5px;
}

#tsparticles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}