.header {
 
position:absolute;
top:0;
z-index:999;
 margin: 0 auto;
  width: 100%;

  @apply p-4 lg:py-2 lg:px-4 container mx-auto grid lg:flex lg:justify-between grid-cols-2 text-[#879FA8] hover:text-[#00BCD4] ;
}

.header > nav {
  position: relative;
  @apply flex items-center w-full justify-between;
}

.navCTA {
  @apply hidden lg:block;
}

.navMenu {
  @apply lg:flex lg:content-center lg:align-middle hidden;
}

.navMenu > li {
  @apply mr-8  ;
}

.mobileMenuWrapper {
  @apply col-span-2 bg-slate-50 p-2 mt-4 rounded shadow-lg;
}

.mobileHeaderCTA {
  @apply border-t border-gray-400 pt-4;
}

.mobileNav {
  @apply w-full py-2;
}

.mobileNav > li {
  @apply hover:bg-slate-400 focus:bg-slate-400 hover:text-white focus:text-white p-2 rounded;
}

.mobileNavBTN {
  @apply lg:hidden self-center place-self-end inline-flex items-center justify-center rounded-md bg-gray-50 p-2 hover:bg-gray-400 hover:text-white focus:outline-none;
}
