.rightDiv {
  @apply col-span-6 xl:place-self-center mb-8 mt-8 xl:mt-0 lg:mb-0;
}

.leftDiv {
  @apply col-span-6 relative;
}

.heading {
  @apply text-3xl md:text-4xl xl:text-5xl  font-medium text-left;
}

.content {
  @apply  max-w-lg mx-auto lg:mx-0 my-4 text-left lg:text-left;
}

.ctaContainer {
  @apply flex flex-col lg:flex-row items-center;
}

.stat {
  @apply text-center text-6xl font-bold mr-2 mt-2 text-[#4D9AD2];
}

.statsContent {
  @apply text-sm text-center;
}
.containerstats {
  padding: 0 0.3rem;
  margin: 0 2rem;
  max-width: 1200px;
}
.wraps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 0.3rem;
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.statsWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: 2rem;
 
}

.parraf{
  
  @apply text-3xl ;
}

.heroMovile{
  width: 95vw;
  padding: 1rem;
 @apply  block md:hidden ;
}